<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://plooy.tv"
        version="1.0.0"
        viewmodes="maximized">
  <name>Plooy</name>
  <content src="https://plooy.tv/?source=tizen"/>
  <icon src="https://plooy.tv/pwa-512x512.png"/>
  <tizen:application id="plooy.tv.Plooy" package="plooy.tv" required_version="6.0"/>
  <tizen:profile name="tv"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
  <description>Bağımsız sinema platformu</description>
  <author href="https://plooy.tv" email="info@plooy.tv">Plooy</author>
  <access origin="https://plooy.tv" subdomains="true"/>
  <access origin="*" subdomains="true"/>
</widget>
